.footer{
    background-color: #333;
    height: 20px;
    width: auto;
    color: #fff;
    font-size: 10px 10px;
}
.footer p{
    text-align: center;
    height: 20px;
    width: auto;
    margin: 0;

}
